; RSDU Linux RT config file.

[common]
product_name=RSDU5
config_name=RTConfig
config_desc=RSDU RT config file.
prefix=
prefix_bin=
prefix_lib=
prefix_inc=
install_ema_script=yes
install_ema_autoload_script=yes
install_ema_cfg_file=yes
install_host_ini_file=yes
install_ematime_script=yes
install_rsduenv_script=yes
update_sysctl_conf=yes
wait_db_delay=30
db_type=Oracle
db_host=localhost
use_rsduenv=yes

[oracle]
client_base=/usr/lib/oracle/
client_home=/usr/lib/oracle/11.2/client64
client_tns_admin=/usr/lib/oracle/11.2/client64
headers_path=/usr/include/oracle/11.2/client64
libs_path=/usr/lib/oracle/11.2/client64/lib

[modules]
utils=yes
rsduss=yes
RSDUcrypto=yes
serial=yes
iec60870=yes
ctype=yes
calclib=yes
sqlite3=yes
Filegen=yes
mbadmin=yes
inpsendsign=yes
sgtest=yes
sqltest=yes
sysutil=yes
rtquery=yes
rtsetcontr=yes
DebugManage=yes
oracle2cass=yes
sqlite2cass=yes
sqlite2oracle=yes
smagent=yes
ssbs=yes
bridge=yes
acserv=yes
acservlight=yes
arcwrite=yes
arcwritelight=yes
arcread=yes
arcrestore=yes
automat=yes
ai_rpl=yes
ai_wostoic=yes
calcd=yes
datasrv=yes
dbrtsrv=no
dcs=yes
dpload=yes
elreg=yes
enmacsrv=yes
fdstsrv=yes
graph50=yes
layout=yes
loutadcp=yes
oicdcp=yes
phreg=yes
pwswitch=yes
rdarch=yes
rtarch=yes
rtqueryd=no
sakura=yes
schit40=yes
sbridge=yes
tmdap=yes
tmsrv=yes
sysmon=yes
librabbitmq=yes
rsducass=yes
libiec61850=yes
iccp=yes
topology=yes
dsgw=no
rtqueryd=no
cid2profile=no

[utils]
defines=TOPO
bincopy=

[rsduss]
defines=
bincopy=

[RSDUcrypto]
defines=
bincopy=

[serial]
defines=
bincopy=

[iec60870]
defines=
bincopy=

[ctype]
defines=
bincopy=

[calclib]
defines=
bincopy=

[sqlite3]
defines=
bincopy=

[Filegen]
defines=
bincopy=

[mbadmin]
defines=
bincopy=

[inpsendsign]
defines=
bincopy=

[sgtest]
defines=
bincopy=

[sqltest]
defines=
bincopy=

[sysutil]
defines=
bincopy=

[rtquery]
defines=
bincopy=

[rtsetcontr]
defines=
bincopy=

[DebugManage]
defines=
bincopy=

[smagent]
defines=
bincopy=

[ssbs]
defines=RABBITMQ,SSBSD_SEND_MAIL_PRESENT
bincopy=

[bridge]
defines=
bincopy=

[acserv]
defines=
bincopy=

[acservlight]
defines=
bincopy=

[arcwrite]
defines=
bincopy=

[arcwritelight]
defines=
bincopy=

[arcread]
defines=
bincopy=

[arcrestore]
defines=
bincopy=

[automat]
defines=
bincopy=

[ai_rpl]
defines=
bincopy=

[ai_wostoic]
defines=
bincopy=

[calcd]
defines=
bincopy=

[datasrv]
defines=
bincopy=

[dcs]
defines=
bincopy=dcsd,dcsd_3,dcsd_7

[dpload]
defines=CASS,CHANGE_PARTS_VIA_PROCS
bincopy=

[elreg]
defines=OIC_TECHCYCLE_SEC1
bincopy=
mkcalc_out_file=calc_el.cfg
mkcalc_server=elreg
mkcalc_db_login=rsduadmin
mkcalc_db_password=passme
mkcalc_srcdir=.
mkcalc_from_file=no
mkcalc_samba=no
mkcalc_smb_username=admin
mkcalc_smb_password=passme
mkcalc_smb_sname=//RESOURCE/Resource/src
mkcalc_smb_mpoint=/tmp/smb
mkcalc_fsrcdir=/root/LinuxRT/Formula

[enmacsrv]
defines=
bincopy=

[fdstsrv]
defines=
bincopy=

[graph50]
defines=
bincopy=

[layout]
defines=
bincopy=

[loutadcp]
defines=
bincopy=

[oicdcp]
defines=
bincopy=

[phreg]
defines=OIC_TECHCYCLE_SEC1
bincopy=
mkcalc_out_file=calc_ph.cfg
mkcalc_server=phreg
mkcalc_db_login=rsduadmin
mkcalc_db_password=passme
mkcalc_srcdir=.
mkcalc_from_file=no
mkcalc_samba=no
mkcalc_smb_username=admin
mkcalc_smb_password=passme
mkcalc_smb_sname=//RESOURCE/Resource/src
mkcalc_smb_mpoint=/tmp/smb
mkcalc_fsrcdir=/root/LinuxRT/Formula

[pwswitch]
defines=
bincopy=

[rdarch]
defines=CASS,ACCESS_INSTARC_PROC
bincopy=rdarchd,rdarchd_el,rdarchd_ph,rdarchd_ps,rdarchd_ex,rdarchd_dcsd

[rtarch]
defines=
bincopy=

[rtqueryd]
defines=
bincopy=

[sakura]
defines=
bincopy=sakura_ad,sakura_da

[schit40]
defines=
bincopy=

[sbridge]
defines=
bincopy=

[tmdap]
defines=
bincopy=

[tmsrv]
defines=
bincopy=

[sysmon]
defines=OIC_TECHCYCLE_SEC1
bincopy=

[topology]
defines=
bincopy=

[iccp]
defines=TOPO
bincopy=
